<h1>Bailey Inc Inquiry</h1>

<p>You've received a Bailey Inc inquiry from <%= @name %></p>

<p>Phone: <%= @phone %></p>

<p>Email: <%= @email %></p>

<p>Company: <%= @company %></p>

<p>Locaton: <%= @location %></p>

<p>Date: <%= @date %></p>

<p>Info: </p>
<p><%= @info %></p>