<!DOCTYPE html>
<html>
  <head>
    <title>Donovan Bailey</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

   <script src="https://use.fontawesome.com/39e5226cb2.js"></script>
  </head>

  <body>
    <div class="admin">
      <div id="admin--only">
        <div class="sidebar">
          <%= link_to 'Donovan Bailey', root_path %>
          <%= link_to 'Admin', admin_path, class: 'sidebar--header' %>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          <a href="http://www.upatfive.ca/" target="_blank"><%= image_tag 'up-at-five-logo.png', class: 'uat-logo' %></a> 
        </div>
        <div class="admin--content">
          <%= yield %>
        </div>
      </div>
    </div>

    <script>
      $('#notice').addClass('hidden')

      if($('#notice').text()){
        // $('#notice').removeClass('hidden')
        $('#notice').removeClass('hidden').fadeOut(2000, function(){
        })
      }
    </script>
  </body>
</html>